#Red Hat Enterprise Linux 7 Server (RPMs)
[rhel-ha-for-rhel-7-server-rpms]
name=Red Hat Enterprise Linux High Availability (for RHEL 7 Server) (RPMs) $basearch
baseurl=http://cdn.rcm-internal.redhat.com/content/dist/rhel/server/7/{{ common_repos_rhel_release }}/$basearch/highavailability/os
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
gpgcheck=1

