name=OpenStack 5.0 for RHEL 7 (RPMs) $basearch
baseurl=http://cdn.rcm-internal.redhat.com/content/dist/rhel/server/7/{{ common_repos_rhel_release }}/$basearch/openstack/5.0/os
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
gpgcheck=1
