[rhel-7-server-supplementary-rpms]
name=Red Hat Enterprise Linux 7 Server - Supplementary  $basearch
baseurl=http://cdn.rcm-internal.redhat.com/content/dist/rhel/server/7/{{ common_repos_rhel_release }}/$basearch/supplementary/os
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
gpgcheck=1

